[Unit]
Description=Weekly Backup Service
After=network.target

[Service]
Type=oneshot
ExecStart=/home/nuoc/.dotfiles/scripts/Backup-System.sh /mnt/e/restic-backup /home/nuoc/.dotfiles/scripts/backup.exclude.filter /home/nuoc/.dotfiles/scripts/backup.include.filter
User=root

[Install]
WantedBy=multi-user.target

